{% extends 'layout.html' %}


{% block body %}
   <ul>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
      <li> шось не так АААААААААААААААА </li>
   </ul>
{% endblock body %}
   