{% extends 'layout.html' %}
{% load static %}


{% block head %}
   <link rel="stylesheet" type="text/css" href="{% static 'DataPicker.css' %}">
{% endblock head %}
   
{% block login %}

{% if autenticathed %}
<nav class="Nav-Items" style="display: flex; flex-direction: raw; gap: 5px;">
    <p class="Season"> {{ user }} </p>
    <a href="{% url 'logout' %}"><button class="btn btn-outline-success me-3">Logout</button></a>
</nav>
{% else %}
    <nav class="Nav-Items">
        <a href="{% url 'login' %}"><Button class="btn btn-outline-success me-3">Login</Button></a>
        <a href="/Register/"><button class="btn btn-outline-success me-3">Register</button></a>
    </nav>
{% endif %}
   
{% endblock login %}

{% block body %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="{% static 'DatePicker.js' %}"></script>
  <div class="p-5">
   <div class="container">
      <div class="box">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
               {{ field }}
               <div class="form-error">{{ field.errors }}</div>
            {% endfor %}
            <button class="button-create" type="submit">Create</button>
         </form>
      </div>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}